.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    margin-top: 40px;
}

ion-content {
    --background:linear-gradient(rgba(67, 67, 67, 0.5), rgba(0, 0, 0, 0.5));;    
}

ion-slides{
    height: 80%;
}

ion-button {
    --color: #fafafa;
}