<ion-grid fixed>
  <ion-row>
    <ion-col size-md="6" size-sm="12" size-xs="12" size-xl="4"
      *ngFor="let comentario of comentarios; let i=index">
      <ion-card *ngIf="comentario.estaActivo">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="'/assets/avatars/'+comentario.usuario.avatar" *ngIf="usuario.tipo === 'email' || usuario.tipo ==='anonimo'">
            <img [src]="usuario.avatar" *ngIf="usuario.tipo !== 'email' && usuario.tipo !=='anonimo'">
          </ion-avatar>
          <ion-label>
            <h3>{{comentario.usuario.nickname}}</h3>
            <p>{{ comentario.created | fecha: 'en'}}</p>
          </ion-label>
        </ion-item>

        <ion-card-content>
          {{comentario.texto}}
        </ion-card-content>
        <ion-card-subtitle *ngIf="usuario._id === comentario.usuario._id">
          <ion-item (click)="mostrarFormaBorrarComentario(comentario._id, sitioId,i)">
            <ion-icon name="trash-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-card-subtitle>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>