<ion-card (click)="verDetalleSitio(sitio)">
   <img [src]="sitio.imagenPortada | imagen: 'sitio'
   : 'cover'
   : sitio._id" alt="ion">
  <ion-card-header>
    <ion-card-title>{{sitio.nombreEs}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p class="overview">
      {{sitio.descripcionEs | slice: 0:150}}
      <ion-label color="primary">...Leer más!</ion-label>
    </p>
  </ion-card-content>

  

  <ion-footer>
    <ion-grid fixed>
      <ion-row>
        <ion-col center style="text-align: center;">
          <ion-badge color="success">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </ion-badge>         
        </ion-col>
        <ion-col center style="text-align: center;">
          <ion-badge color="warning">
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </ion-badge>          
        </ion-col>
        <ion-col center style="text-align: center;">
          <ion-badge color="medium">
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </ion-badge> 
       
        </ion-col>
      </ion-row>      
    </ion-grid>
  </ion-footer>
</ion-card>