<ion-card (click)="verDetalleSitio(sitio)">
   <img [src]="sitio.imagenPortada | imagen: 'sitio'
   : 'cover'
   : sitio._id" alt="ion">
  <ion-card-header>
    <ion-card-title *ngIf="idioma==='es'">{{sitio.nombreEs}}</ion-card-title>
    <ion-card-title *ngIf="idioma==='en'">{{sitio.nombreEn}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p class="overview" *ngIf="idioma==='es'">
      {{sitio.descripcionEs | slice: 0:120}}
      <ion-label color="primary">...Leer más!</ion-label>
    </p>

    <p class="overview" *ngIf="idioma==='en'">
      {{sitio.descripcionEn | slice: 0:120}}
      <ion-label color="primary">...Read more!</ion-label>
    </p>
  </ion-card-content>

  

  <ion-footer class="ion-no-border">
    <ion-grid fixed>
      <ion-row>
        <ion-col center style="text-align: center;">
          <ion-badge color="success">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{sitio.calificaciones.length}} {{'place.likes' | translate}}</div>
          </ion-badge>         
        </ion-col>
        <ion-col center style="text-align: center;">
          <ion-badge color="tertiary">
            <ion-icon name="text"></ion-icon>
            <div>{{sitio.comentarios.length}} {{'place.comments' | translate}}</div>
          </ion-badge>          
        </ion-col>
      </ion-row>      
    </ion-grid>
  </ion-footer>
</ion-card>