<ion-header mode="ios" no-border translucent>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()" color="gray">
        <ion-icon slot="start" name="arrow-back-sharp"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title>{{sitio.nombreEs}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [style]=" ( sitio.imagenPortada | imagen: 'sitio'
: 'cover'
: sitio._id ) | imagenPortada" #content>
  <!-- <div style="background-image: url(assets/img/cover.jpg); width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; position: absolute; z-index: -1;"></div>  -->
  <div class="header" [style]=" ( sitio.imagenPortada | imagen: 'sitio'
  : 'cover'
  : sitio._id ) | imagenPortada">
    <h2></h2>
    <div class="space-between">
      <div class="followings">
        <ion-badge mode="ios">
          <div>{{sitio.calificaciones | numeroLikes }} Me gusta</div>
        </ion-badge>
        <!-- <p>{{ 'profile.likes' | translate }}</p>    -->
      </div>

      <div class="followings">
        <ion-badge mode="ios">
          <div>{{sitio.comentarios.length}} Commentarios</div>
        </ion-badge>
        <!-- <p>{{ 'profile.saved' | translate }}</p> -->
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box" [style]=" ( sitio.imagenPerfil | imagen: 'sitio'
        : 'profile'
        : sitio._id ) | imagenPerfil">
          <!-- <img src="assets/img/167030.jpg" alt="">     -->
        </div>
      </div>
    </div>
  </div>

  <ion-grid fixed>
    <!-- SECTION - Informacion general -mapa -->
    <ion-row>
      <ion-col size-md="6" size-sm="12" size-xs="12">
        <ion-card>
          <ion-card-header color="primary">

            <ion-card-subtitle>
              <ion-icon name="information-circle-outline"></ion-icon>
              Información general
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p class="overview" style="padding-top: 5px; color: #fafafa;">
              {{sitio.descripcionEs}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="6" size-sm="12" size-xs="12">
        <ion-card *ngIf="sitio.website !== '' || sitio.whatsapp !=='' || sitio.telefonos.length > 0">
          <ion-card-header color="tertiary">

            <ion-card-subtitle>
              <ion-icon name="chatbubble-outline"></ion-icon>
              Contacto
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content color="medium">
            <ion-item (click)="abrirURL(sitio.website)" *ngIf="sitio.website !== ''">
              <ion-icon name="globe-outline" slot="start" color="medium"></ion-icon>
              <ion-label>{{sitio.website}}</ion-label>
            </ion-item>

            <ion-item (click)="abrirWhatsapp(sitio.whatsapp)" *ngIf="sitio.whatsapp !== ''">
              <ion-icon name="logo-whatsapp" slot="start" color="medium"></ion-icon>
              <ion-label>{{sitio.whatsapp}}</ion-label>
            </ion-item>

            <ion-item *ngFor="let telefono of sitio.telefonos" (click)="abrirTelefono(telefono)">
              <ion-icon name="call-outline" slot="start" color="medium"></ion-icon>
              <ion-label>{{telefono}}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>



    </ion-row>
    <!-- !SECTION -  -->

    <!-- SECTION - Contacto y mapa -->
    <ion-row>

      <ion-col size="12">
        <ion-card>
          <ion-card-header color="secondary" fill="outline">

            <ion-card-subtitle>
              <ion-icon name="location-outline"></ion-icon>
              Ubicacion
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content color="medium">

            <ion-item>
              <ion-icon name="pin" slot="start" color="medium"></ion-icon>
              <ion-text>
                <h5>{{sitio.direccion}}</h5>
              </ion-text>

            </ion-item>

            <div id="mapa" class="map"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>
    <!-- !SECTION - -->

    <!-- SECTION - Galeria -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header color="primary">

            <ion-card-subtitle>
              <ion-icon name="images-outline"></ion-icon>
              Galería
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size-md="4" size-sm="6" size-xs="6" size-xl="3" *ngFor="let foto of sitio.fotos">
                  <div class="image-container" [style]=" ( foto.archivo | imagen: 'sitio'
                  : 'images'
                  : sitio._id ) | imagenPortada" (click)="verImagen(foto, sitio._id)"></div>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- !SECTION -->

    <ion-row>
      <ion-col size="12">
        

        <app-lista-comentarios [comentarios] ="comentarios" [usuario]="usuario" [sitioId]="sitio._id" (enviarComentarios)= "refrescarComentarios($event)"> </app-lista-comentarios>















      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>



<ion-footer no-border mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="comentar()">
        <ion-icon slot="start" name="chatbox-ellipses" color="gray"></ion-icon>
        <ion-label color="gray">Comentar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="agregarCalificacion(false)">
        <ion-icon slot="icon-only" name={{iconoDislike}} color="gray"></ion-icon>
      </ion-button>
      <ion-button (click)="agregarCalificacion(true)">
        <ion-icon slot="icon-only" name={{iconoLike}} color="gray"></ion-icon>
      </ion-button>
      <ion-button (click)="favorito()">
        <ion-icon slot="icon-only" name={{iconoFavorito}} color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <ion-button (click)="comentar()">
        <ion-icon slot="end" name={{iconoFavorito}} color="dark"></ion-icon>
        <ion-label>Favorito</ion-label>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-footer>