.header {
    //background-color: #2196F3;    
    background-position: center;    
    height: 180px;
    padding-top: 1px;
}


.header h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.img-box {    
    height: 130px;
    width: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.border-white {
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;

}

.border-blue {
    border: 6px solid #00C2A8;
    border-radius: 50%;
    width: fit-content; 
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -75px;
}

ion-content { --background: linear-gradient(rgba(67, 67, 67, 0.5), rgba(0, 0, 0, 0.5));}

ion-badge { --background: #00C2A8;}

ion-card {
    --background: rgba(0, 0, 0, 0.7);
}

ion-item {
    --background: rgba(0, 0, 0, 0.5);
    --color: #fafafa;
}

.map {
    width: 100%;
    height: 200px;
}

.image-container {
    background-size: cover;
    min-height: 100px;
}