ion-card {      
    position: relative;
    height: 200px;
    text-align: center;
    // --background: linear-gradient(rgba(67, 67, 67, 0.5), rgba(0, 0, 0, 0.5));
    // ,url(/assets/img/cover.jpg) center center / cover no-repeat;
  }