<ion-row>
  <ion-col>
    <h3 style="color: #fafafa">Seleccione Avatar</h3>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-slides [options]="avatarSlide">
      <ion-slide *ngFor="let avatar of avatars">
        <img src="/assets/avatars/{{avatar.img}}"  class="pick-avatar" alt="" [ngClass]="{'pick-avatar-seleccionado': avatar.seleccionado}" (click)="seleccionarAvatar( avatar )">
        <!-- <ion-img class="pick-avatar" 
          >
        </ion-img> -->
        <!-- <ion-label style="color: white;">.</ion-label> -->
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>